LoopDataConverter.egg-info/top_level.txt
LoopDataConverter.egg-info/requires.txt
LoopDataConverter.egg-info/SOURCES.txt
LoopDataConverter.egg-info/PKG-INFO
LoopDataConverter.egg-info/dependency_links.txt
