on: [push, pull_request]
name: release-please
jobs:
  linting:
    name: Linting
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install black ruff
      - name: Autoformat with black
        run: |
          black .
      - name: Lint with ruff
        run: |
          ruff check LoopDataConverter --fix
      - uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: "style: style fixes by ruff and autoformatting by black"

  continuous-integration:
    name: Continuous integration ${{ matrix.os }} python ${{ matrix.python-version }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: ${{ fromJSON(vars.BUILD_OS)}}
        python-version: ["3.10", "3.11", "3.12", "3.13"]
    steps:
      - uses: actions/checkout@v4
      - uses: conda-incubator/setup-miniconda@v3

        with:
          python-version: ${{ matrix.python-version }}
      - name: Installing dependencies
        shell: bash -l {0}
        run: |
          conda install -c conda-forge 'numpy>=2.1.0' scipy pytest dill beartype pandas geopandas shapely validators sqlite -y
      - name: Building and install
        shell: bash -l {0}
        run: |
          pip install . --user
      - name: Testing
        shell: bash -l {0}
        run: |
          pytest

  release-please:
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/master'
    steps:
      - uses: GoogleCloudPlatform/release-please-action@v4
        id: release
        with:
          release-type: python
      - name: Debug release_created output
        run: |
          echo "Release created: ${{ steps.release.outputs.release_created }}"
    outputs:
      release_created: ${{ steps.release.outputs.release_created }}
  # if a release is created then run the deploy scripts for github.io, conda, pypi and docker
  
  conda-build:
    name: Building conda package for python
    needs: "continuous-integration"
    runs-on: ubuntu-latest
    steps:
      - uses: conda-incubator/setup-miniconda@v3
        with:
          auto-update-conda: true

      - uses: actions/checkout@v4
      - name: update submodules
        #       shell: bash -l {0}
        run: |
          git submodule update --init --recursive
      - name: Conda build
        env:
          ANACONDA_API_TOKEN: ${{ secrets.ANACONDA_TOKEN  }}
        shell: bash -l {0}
        run: |
          conda config --set solver libmamba
          conda install -c conda-forge conda-build pytest 'numpy>=2.1.0' scipy pandas geopandas sqlite shapely validators anaconda-client conda-libmamba-solver -y
          conda build -c conda-forge --output-folder conda conda 
          
      - name: upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: conda-build
          path: conda
  make_sdist:
    needs: "continuous-integration"
    name: Make SDist
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Build SDist
        run: |
          pip install build
          python -m build

      - uses: actions/upload-artifact@v4
        with:
          name: dist
          path: dist/

  upload_to_conda:
    needs: ["release-please", "conda-build"]
    runs-on: ubuntu-latest
    if: ${{ needs.release-please.outputs.release_created }}
    steps:
      - uses: actions/download-artifact@v4
        with:
          name: conda
          path: conda
      - uses: conda-incubator/setup-miniconda@v3
      - name: upload all files to conda-forge
        shell: bash -l {0}
        env:
          ANACONDA_API_TOKEN: ${{ secrets.ANACONDA_TOKEN  }}
        run: |
          conda install -c anaconda anaconda-client -y
          anaconda upload --label main conda/*/*.conda

  upload_to_pypi:
    needs: ["release-please", "conda-build"]
    runs-on: "ubuntu-latest"

    if: ${{ needs.release-please.outputs.release_created }}
    steps:
      - uses: actions/download-artifact@v4
        with:
          name: dist
          path: dist
      - uses: pypa/gh-action-pypi-publish@release/v1
        with:
          skip-existing: true
          verbose: true
          user: ${{ secrets.PYPI_USERNAME }}
          password: ${{ secrets.PYPI_API_TOKEN }}
